all_documents/*-safe.doc
all_documents/*-safe.pdf
all_documents/*-safe.docx
all_documents/*-safe.xlsx
all_documents/*-safe.xls
all_documents/*-safe.pptx
all_documents/*-safe.ppt
all_documents/*-safe.odt
all_documents/*-safe.ods
all_documents/*-safe.odp
all_documents/*-safe.odg
all_documents/*-safe.jpg
all_documents/*-safe.jpeg
all_documents/*-safe.gif
all_documents/*-safe.png

